{{#> layouts/base }}
    {{#*inline "links"}}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700"/>
        <link rel="stylesheet" type="text/css" href="/home/css/main.css"/>
        <title>Sagar Saxena - AWS Lightsail</title>
    {{/inline}}
    {{#*inline "content"}}
        <div class="center-wrapper">
            <div class="center">
                <h1>Welcome To The Home Page</h1>
				<p>This site is still under development, but you can check out the following links in the meantime<p>
				<br>
                <p><a href="https://user.tjhsst.edu/2019ssaxena">Go To My Old Website</a></p>
                <p><a href='/landing'>Go To My Landing Page</a></p>
            </div>
        </div>
    {{/inline}}
{{/layouts/base}}
